.Menu{
    display: flex;
    justify-content: space-around;
    background-color: #3074FE;
    border-radius: 27pt;
    align-items: center;
    width: 88vw;
    padding-top: 7px;
    padding-bottom: 7px;
}