.primary {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.italic {
    font-style: italic;
}

.bannerL {
    font-size: 9rem;
    font-weight: 200;
    @media screen and (max-width: 516px) {
        font-size: 8rem;        
    }
    @media screen and (max-width: 417px) {
        font-size: 7rem;        
    }
    @media screen and (max-width: 400px) {
        font-size: 6rem;        
    }
    @media screen and (max-width: 320px) {
        font-size: 5rem;        
    }
}

.bannerM {
    font-size: 9rem;
    font-weight: 600;
    @media screen and (max-width: 678px) {
        font-size: 6rem;
    }
    @media screen and (max-width: 638px) {
        font-size: 5.4rem;        
    }
    @media screen and (max-width: 417px) {
        font-size: 4.7rem;        
    }
    @media screen and (max-width: 386px) {
        font-size: 4rem;        
    }
    @media screen and (max-width: 320px) {
        font-size: 3.5rem;        
    }
}

.paragraphL{
    font-size: 2rem;
    @media screen and (max-width: 1178px) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: 1085px) {
        font-size: 1.6rem;
    }
    @media screen and (max-width: 972px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 925px) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: 813px) {
        font-size: 1.1rem;
    }
    @media screen and (max-width: 678px) {
        font-size: 1.5rem;
        
    }
    @media screen and (max-width: 576px) {
        font-size: 1.2rem;        
    }
    @media screen and (max-width: 474px) {
        font-size: 1rem;        
    }
    @media screen and (max-width: 404px) {
        font-size: 0.9rem;        
    }
    @media screen and (max-width: 365px) {
        font-size: 0.8rem;        
    }
    @media screen and (max-width: 325px) {
        font-size: 0.7rem;        
    }
}
.paragraphM{
    font-size: 1rem;
}
.paragraphS{
    font-size: 0.8rem;
}

.semibold{
    font-weight: 600;
}