.DesktopMenuButton{
    background-color: #3074FE;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    font-size: 1.1rem;
    
}