.MenuButton {
    border-radius: 27pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5pt;
    margin-right: 5pt;
    padding: 10pt 10pt 10pt 10pt;
    width: 100%;
    cursor: pointer;
}