@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Summary {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

    .Summary__Container {
        width: 88vw;
    }
}