.Impacts {
    width: 88vw;
    background-color: #3074FE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 24px;
    margin-bottom: 24px;
    .ImpactsCarousel {
        width: 87vw;
    }
}