// desc: Styles for RedirectLink component
.RedirectLink {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    @media screen and (max-width: 678px) {
        margin-top: 12pt;
    }

    .RedirectLink__Link {
        display: flex;
        align-items: center;

        .RedirectLink__Title {
            margin-right: 12pt;
        }

        .RedirectLink__Arrow {
            height: 9pt;
        }
    }

    .RedirectLink__underline {
        margin-top: 6pt;

        @media screen and (max-width: 268px) {
            width: 45vw;
        }
    }
}